* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --clr: #373939;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--clr);
}
.loader {
    position: relative;
    width: 300px;
    height: 300px;
    transform-style: preserve-3d;
    transform: rotateX(35deg) rotateZ(345deg);
    animation: animate 4s linear infinite;
}
.loader span {
    position: absolute;
    inset: 0;
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255,255,255,0.25);
    backdrop-filter: blur(24px);
    transition: 2.5s;
}
.loader i {
    position: absolute;
    inset: 0;
    transform-style: preserve-3d;
    transition: 2.5s;
}

.loader i::before {
    content: '';
    position: absolute;
    inset: 15px;
    background: linear-gradient(45deg, #a7ecb1, #969fec);
    transform: translateZ(-90px);
}
.loader i::after {
    content: '';
    position: absolute;
    inset: 15px;
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255,255,255,0.25);
    backdrop-filter: blur(12px);
    transform: translateZ(90px);
}

.loader:hover i,
.loader:hover span {
    transform: rotateX(360deg);
}
@keyframes animate {
    0%{
        transform: rotateX(35deg) rotateZ(0deg);
    }
    50%{
        transform: rotateX(35deg) rotateZ(180deg);
    }
    100%{
        transform: rotateX(35deg) rotateZ(360deg);
    }
}